@font-face {
  font-family: 'Quicksand';
  src: url('/assets.cinelove.me/fonts/webfonts/quicksand/quicksand.woff2') format('woff2'),
       url('/assets.cinelove.me/fonts/webfonts/quicksand/quicksand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
