@font-face {
  font-family: 'HoaTay1';
  src: url('/assets.cinelove.me/fonts/webfonts/hoatay1/hoatay1.woff2') format('woff2'),
       url('/assets.cinelove.me/fonts/webfonts/hoatay1/hoatay1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
