@font-face {
  font-family: 'BucThu';
  src: url('/assets.cinelove.me/fonts/webfonts/bucthu/bucthu.woff2') format('woff2'),
       url('/assets.cinelove.me/fonts/webfonts/bucthu/bucthu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
